html {
    
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
font-family: 'Roboto', sans-serif;
font-size: 1.8rem;

}




/* GLOBALES */
a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.centrar-texto{
    text-align: center;
}

h1{
    font-size: 2.3rem;
    font-weight: 500;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.5rem;
}

.background-white{
    background-color: whitesmoke;
}

/* END GLOBALES */


/* HEADER */
.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  
    
}



.color{
    background-color: #ffe816;
}

.padding{
    padding: 0 1rem;
}



.logotipo{
    width: 60px;
    margin: 0;
    padding-top: .9rem;
}


/* END HEADER */

/* BODY */

.img-header{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
     
}

.img-personal{
    width: 40vh
}

.dos-divisiones{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 10rem; 
    margin: auto;
    background-color: whitesmoke;
    height: 350px;
    
}


.dos-divisiones p{
    color: #52575d;
    font-weight: 300;
    line-height: 25px;    
}

.dos-divisiones h2{
    font-weight: 500;
}

.division-texto{
    max-width: 50%;
}
.conocimientos{
    background-color: #52575d;
    

}

.conocimientos h3{
    font-weight: 500;
}

.conocimientos p{
    font-weight: 300;
    line-height: 25px
}


.conocimientos-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem; 
    max-width: 70%;
    height: 350px;
    margin: auto;
    color: whitesmoke;
    
}

.img-idea{
    width: 200px;
}

.proyectos{
    padding: 2rem 10rem; 
    max-width: 70%;
    margin: auto;
    background-color: whitesmoke;

}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}

.cards{
    background-color: yellow;
    width: calc(40% - 40px);
    padding: 20px;
    height: 150px;
    border-radius: 10px;
    margin: 20px;
    box-shadow:0 0 15px #000;

}

.sub-titles{
    padding-top: 50px;
    font-weight: bold;
    font-size:30px;
}

.contact-container{
    display: flex;
    flex-direction: column;
  
}

.icons{
    width: 70px;
    height: 70px;
    margin: 10px 20px ;
    filter: drop-shadow(0 0 10px #000);

}

.centrado-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.work-background{
    background-image: url(contact-image.jpg);
    width: 100%;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    text-shadow: 0 0 10px #000;    
}

.left-text{
    text-align:  start;
}


/*                  INSERT                   */

/* END BODY */