html {
    
    font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
font-family: 'Roboto', sans-serif;
font-size: 1.8rem;
}

/* GLOBALES */
a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.centrar-texto{
    text-align: center;
}

h1{
    font-size: 2.3rem;
    font-weight: 500;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.5rem;
}
/* END GLOBALES */


/* HEADER */
.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.color{
    background-color: #ffe816;
}

.padding{
    padding: 0 1rem;
}



.logotipo{
    width: 60px;
    margin: 0;
    padding-top: .9rem;
}


/* END HEADER */

/* BODY */

.img-header{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
     
}

.img-personal{
    width: 350px;
}

.dos-divisiones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem; 
    max-width: 70%;
    margin: auto;
    
}
.background-color{
    background-color: #fff;
}

.dos-divisiones p{
    color: #52575d;
    font-weight: 300;
    
}

.dos-divisiones h2{
    font-weight: 500;
}

.division-texto{
    max-width: 50%;
}
.conocimientos{
    background-color: #52575d;
   

}

.conocimientos h3{
    font-weight: 500;
}

.conocimientos p{
    font-weight: 300;
}


.conocimientos-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem; 
    max-width: 70%;
    margin: auto;
    color: whitesmoke;
    
}

.img-idea{
    width: 200px;
}

.proyectos{
    padding: 2rem 10rem; 
    max-width: 70%;
    margin: auto;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.cards{
    background-color: yellow;
    width: calc(40% - 40px);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
/* END BODY */